body {
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #f1f1f1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

nav h1 {
  margin-bottom: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-bottom: 10px;
}

nav a {
  text-decoration: none;
  color: black;
}

.social-links {
  margin-top: auto;
}

.social-links a {
  display: block;
  margin-bottom: 10px;
}

.copywrite-info {
  margin-top: auto;
  font-size: 12px;
}

main {
  margin-left: 200px; /* The same width as the nav */
  padding: 20px;
  box-sizing: border-box;
}


/* this is test css code for that fixed nav bar in that testing-code.html file */


.hero-image {
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;
  
  background:
    repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
     calc(.5*var(--s)) calc(.5*var(--s)*0.577),
    repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
  background-size: var(--s) calc(var(--s)*0.577);
  /* 0.577 = tan(30deg)*/
}

/* lines 59-72 provides a css pattern from https://css-pattern.com */